.navbar-inverse .navbar-brand {
	color: #00d8ff;
}
.bg-inverse {
	background-color: #292b2c !important;
}

body {
	background-image: none;
	font-size: 14px;
}

.name {
	min-width: 120px;
	display: inline-block;
}

.badge-default {
	background-color: #636c72;
	color: #FFFFFF;
}

.btn-secondary {
	background-color: #FFFFFF;
	color: #292b2c;

	&:hover {
		background-color: #a3a4a4;
	}
}
